body {
    background-color: rgba(24, 217, 243, 0.61);
    color: #111010;
}
head{
    border-bottom: solid 2px rgba(217, 246, 250, 0.61);
    pedding: 20px;
    font-size: 32px;
    color: rgba(19, 20, 20, 0.945);
}
section{
    